$highlight-color: #6b6c67;

/* when highlighting text */
::-moz-selection {
  background: $highlight-color;
}

::-webkit-selection {
  background: $highlight-color;
}

::selection {
  background: $highlight-color;
}

/* changing the cursor color to white */
html {
  --cursor-color: #fff;
}

p,
h1,
h2 {
  font-weight: 300 !important;
}

p.lead {
  font-size: 16px; // Default font size for small screens

  @media (min-width: 768px) {
    // This is a common breakpoint for larger screens
    font-size: 20px; // Font size for screens wider than 768px
  }
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  @media (min-width: 768px) {
    font-size: 2.5em; // Font size for screens wider than 768px
  }
}

b {
  font-weight: 500 !important;
  background: linear-gradient(
    to left,
    #f9d423 20%,
    /* a vivid yellow */ #ff4e50 30%,
    /* a bright red */ #f9b32f 70%,
    /* a warm orange */ #f76b1c 80% /* a deep orange */
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.semi-transparent {
  background-color: rgba(6, 43, 35, 0.65); /* Black with 50% transparency */
}

.name-row {
  margin-top: 10% !important;
  @media (max-width: 800px) {
    margin-top: 25% !important;
  }
}

//!vars
$light: #d6d9ce;
$success: #a5ab93;

//overriding Bootstrap variables
// $light: #a8b7cb;
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";

$theme-colors: (
  "light": $light,
  "success": $success,
);
// required imports
@import "~bootstrap/scss/bootstrap.scss";

.work-link {
  @extend .border-start;
  @extend .text-light;
  &:focus {
    border-color: $cyan-600 !important;
    @extend .border-3;
    @extend .bg-opacity-10;
    @extend .bg-primary;
  }
  &:hover {
    border-color: $cyan-100 !important;
    @extend .border-3;
    @extend .bg-opacity-10;
    @extend .bg-primary;
  }
}
