//! colors
$cursor-highlight-color: #003d2f;
$primary-color: #23afd1;
$dark-color: #000000;
$nav-color: #15667a; //should be darker
$light: #ddfbd2; //text is light
$white: beige;
:root {
  --cursor-color: #{$light};
}

body{
  scroll-behavior: smooth;
}

//! parallax background
.parallax-bg {
  background: linear-gradient(to top, $dark-color, $primary-color);
  background-size: "cover";
  background-position: "right";
}

//! all fish parallax layers
.fish-layer-left,
.fish-layer-right,
.shark-layer {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
}

//***************NAVBAR*****************
$navbar-dark-toggler-border-color: none;
//**************************************

//***************FISHES*****************
//fish parallax
.fish-left,
.fish-right {
  width: 30vh;
  height: 30vh;
  opacity: 0.2;
  @media (min-width: 768px) {
    opacity: 0.5;
  }
}

.fish-right {
  margin-right: 10%;
}

.fish-layer-left {
  justify-content: left;
}

.fish-layer-right {
  justify-content: right;
}

// shark parallax
.shark {
  width: 30vh;
  height: 30vh;
  opacity: 0.175;
}

.shark-layer {
  justify-content: center;
}
//****************************************

//*************************CURSOR***********************
// when highlighting text
::-moz-selection {
  background: $cursor-highlight-color;
}

::-webkit-selection {
  background: $cursor-highlight-color;
}

::selection {
  background: $cursor-highlight-color;
}

/* changing the cursor color to white */
html {
  --cursor-color: #fff;
}
//*****************************************************

//*************************Typography******************
p,
h1,
h2 {
  font-weight: 300 !important;
}

p.lead {
  font-size: 16px; // Default font size for small screens

  @media (min-width: 768px) {
    // This is a common breakpoint for larger screens
    font-size: 20px; // Font size for screens wider than 768px
  }
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  @media (min-width: 768px) {
    font-size: 2.5em; // Font size for screens wider than 768px
  }
}

b {
  font-weight: 500 !important;
  background: linear-gradient(
    to left,
    #f9d423 20%,
    #ff4e50 30%,
    #f9b32f 70%,
    #f76b1c 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

//*****************************************************

//*************************Layer 1**********************
.layer-1 {
  display: flex;
  justify-content: center;
  align-items: center;

  //mobile view
  @media (max-width: 800px) {
    align-items: auto;
  }
}
//*****************************************************

.construction {
  //mobile view
  @media (max-width: 500px) {
    font-size: smaller !important;
  }
}

//! effects
$semi-transparent: rgba($nav-color, 0.65);
.semi-transparent {
  background-color: $semi-transparent !important; //dark green with 65% opacity
}

//! glass morph
$glass-background: rgba(255, 255, 255, 0.01);
$glass-border: rgba(255, 255, 255, 0.3);
$glass-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
$glass-border-radius: 16px;
$glass-blur-filter: blur(5px);

.glass-bg {
  background: $glass-background;
  box-shadow: $glass-box-shadow;
  -webkit-backdrop-filter: $glass-blur-filter;
  backdrop-filter: $glass-blur-filter;
  border: 1px solid $glass-border;
}

.glass-morph {
  border-radius: $glass-border-radius;
  @extend .glass-bg;
  @extend .p-4;
}

.name-row {
  margin-top: 10% !important;
  @media (max-width: 800px) {
    margin-top: 25% !important;
  }
}

$nav-link-transition: color 0.75s ease-in-out,
  background-color 0.75s ease-in-out, border-color 0.75s ease-in-out;
$nav-link-color: $light;
$nav-pills-link-active-bg: rgba(beige, 0.5);
$nav-pills-border-radius: $glass-border-radius;
$nav-pills-link-active-color: black;
// $nav-tabs-link-active-border-color: none;
// $nav-underline-link-active-color: rgba(beige, 0.65);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/utilities";
$nav-link-hover-color: $info;

//!work content container
.work-content {
  background: rgba(255, 255, 255, 0.01) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  // @extend .p-4;
  @extend .text-light;
}

.work-body {
  padding-left: 1rem;
  padding-right: 1rem;
  //mobile view
  @media (max-width: 1000px) {
    max-height:60dvh ;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}

.work-links{
  //mobile view
  @media (max-width: 1000px) {
    height: 20dvh !important;
  }
}

.scroll-badge {
  @extend .badge;
  @extend .rounded-pill;
  @extend .py-2;
  @extend .px-3;
  @extend .shadow-lg;

  background: beige !important;
  color: black !important;
  border: 2px solid black !important;

  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  font-size: medium !important;

  //make it disappear when user scrolls down

  @media (min-width: 1000px) {
    display: none !important; // Hides the badge on non-mobile devices
  }
}

.work-tab {
  //mobile view
  @media (max-width: 800px) {
    font-size: small !important;
  }
}

$theme-colors: (
  "light": $light,
  "white": $white,
);

// required imports
@import "~bootstrap/scss/bootstrap.scss";
