$highlight-color: #f700ff;

/* when highlighting text */
::-moz-selection {
  background: $highlight-color;
}

::-webkit-selection {
  background: $highlight-color;
}

::selection {
  background: $highlight-color;
}

/* changing the cursor color to white */
html {
  --cursor-color: #fff;
}

p, h1, h2 {
  font-weight: 300 !important;
}

p.lead {
  font-size: 16px; // Default font size for small screens

  @media (min-width: 768px) {
    // This is a common breakpoint for larger screens
    font-size: 20px; // Font size for screens wider than 768px
  }
}

h1 {
  display: inline-block;
  font-size: 1.5em;
  @media (min-width: 768px) {
    font-size: 2.5em; // Font size for screens wider than 768px
  }
}

b {
  font-weight: 500 !important;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.semi-transparent {
  background-color: rgba(0, 0, 0, 0.65); /* Black with 50% transparency */
}

.name-row{
  margin-top: 10% !important;
  @media (max-width: 800px) {
    margin-top: 25% !important;
  }
}

// required imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//overriding Bootstrap variables
$light: #a8b7cb;
$theme-colors: (
  "light": $light,
);

@import "~bootstrap/scss/bootstrap.scss";
