:root {
    --highlight-color: #f700ff;
}

::-moz-selection {
    background: var(--highlight-color);
}

::-webkit-selection {
    background: var(--highlight-color);
}

::selection {
    background: var(--highlight-color);
}

html {
    --cursor-color: #fff
}
